var config = {};

config.nuve_host = '';
config.service = {};
config.service.id ='';
config.service.key = '';

config.demo_host = ''; // Without "http", just the host.

config.http_port = 80;
config.https = false;
config.https_port = 443;
config.ca_certs = undefined;

//config.plain = true;

module.exports = config;
