<%- include ('partials/management/top') %>

<div class="container">
  <form class="form-signin" action="/admin/login" method="post">
    <h3 class="form-signin-heading">Please sign in</h3>
    <p class="text-danger"><%= msg %></p>
    <input type="text" class="form-control" placeholder="Service Id" required="" autofocus="" name="id">
    <input type="password" class="form-control" placeholder="Password" required="" name="key">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>

<%- include ('partials/management/bottom') %>
