  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>
  <script src="licode_assets/js/application.js"></script>
  <script src="javascripts/lib.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</body></html>
