  <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  <script src="licode_assets/js/jquery.js"></script>
  <script src="licode_assets/js/prettify.js"></script>
  <script src="licode_assets/js/bootstrap.min.js"></script>
  <script src="licode_assets/js/application.js"></script>
  <script src="javascripts/lib.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

</body></html>