<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Licode">

    <!-- Le styles -->
    
    <!--<link rel="stylesheet" href="http://fortawesome.github.com/Font-Awesome/licode_assets/css/site.css">-->
    <link href="/stylesheets/bootstrap.min.css"" rel="stylesheet">    
    <link href="licode_assets/css/docs.css" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="images/favicon.ico">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="licode_assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="licode_assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="licode_assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="licode_assets/ico/apple-touch-icon-57-precomposed.png">

</head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true">
