<!DOCTYPE html>
<html>
  <head>
    <title>Licode</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href='/stylesheets/style.css' rel='stylesheet'/>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

  </head>
  <body>
   <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img src="/images/star.svg" id="star_logo"/>
        <img src="/images/licode.svg" id="licode_logo"/>
      </div>
      <div class="col-md-5 title"><h2><%= title %></h2></div>   
    </div>